.boxput{
    box-sizing: border-box;
    width: auto;
    height: auto;
   
}
body{
   margin: 0px;

}

.header{
    width: auto;
    height: 100px;
    background-color: rgb(240, 226, 210);
}

#logo{
    width: auto;
    height: 80px;
    position: relative;
    margin-top: 5px;
    margin-left: 15px;
}

.Dheader{
    float: left;
}

#htext{
    color: green;
    margin-left: 20px;
    font-size: 28px;
    margin-top: 12px;
}


.app-img{
    width: auto;
    height: 100px;
   margin-left: 15px;
   margin-right: 15px;


}
.ahte{
    float: left;
    margin: 10px;
}




.downlode{
    text-decoration: none;
    background-color: darkseagreen;
    padding: 8px 10px;
    border-radius: 15px;
}



.folatt{
    float: left;
}
.card{
    float: left;
    margin-bottom: 30px;
    width: 300px;
    height: 120px;
    box-shadow: 10px 15px 30px  gray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;


}













@media screen and (max-width: 480px) {
    .container {
      width: 1370px;
      background-color: rgb(192, 192, 223);
    }
    #logo{
        width: auto;
        height: 60px;
        position: relative;
        margin-top: 5px;
        margin-left: 10px;
    }

    #htext{
        color: green;
        margin-left: 16px;
        font-size: 22px;
        margin-top: 10px;
    }

    .app-img{
        width: auto;
        height: 80px;
    
    
    }
    .ahte{
     
        margin: 8px;
    }



    .downlode{
        text-decoration: none;
        background-color: darkseagreen;
        padding: 5px 6px;
        border-radius: 10px;
    }
    
    
    
    .folatt{
    margin-top: 0;
        float: left;
    }
    .card{
        float: none;
        width: 200px;
        height: 120px;
        box-shadow: 10px 15px 40px  gray;
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
    
    


  }













  @media screen and (max-width: 768px) {
    .boxput {
      width: 1570px;
      
    }
    body{
        background-color: blue;
    }
    #logo{
        width: auto;
        height: 80px;
        position: relative;
        margin-top: 5px;
        margin-left: 15px;
    }

    #htext{
        color: green;
        margin-left: 20px;
        font-size: 28px;
        margin-top: 12px;
    }

.app-img{
    width: auto;
    height: 100px;


}
.ahte{
    
    margin: 10px;
}
h5{
    margin-top: 0;
}

.downlode{
    text-decoration: none;
    background-color: darkseagreen;
    padding: 8px 10px;
    border-radius: 15px;
}



.folatt{
margin-top: 0;
    float: left;
}
.card{
    float: none;
    width: 300px;
    height: 120px;
    box-shadow: 10px 15px 40px  gray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;






}

  
 